h1{
    color: blue;
    background-color: aquamarine;
    text-align: center;
    font-size: 25px;
}
p{
    color: cornflowerblue;
    display: flex;
}
.header{
    background-image: url(love.jpg);
    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
menu{
    /* background-color: chocolate; */
}