h1{
    color: blue;
    background-color: aquamarine;
    text-align: center;
    font-size: 25px;
}
p{
    color: cornflowerblue;
    display: flex;
}
.header{
    background-image: url(love.jpg);
    background-position:100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-origin: content-box;
    background-size: cover;
    block-size: 80px;
    width: 500px;
    height: 200px;
    

}
menu{
    /* background-color: chocolate; */
}
img{
    width: 500px;
    height: 300px;
    object-fit: cover;
}